 <!--==== STYLESHEETS ====--> 
 <link rel="stylesheet" href="{{ url_for('static', filename='css/spectre.min.css') }}">
 <link rel="stylesheet" href="{{ url_for('static', filename='css/spectre-exp.min.css') }}">
 <link rel="stylesheet" href="{{ url_for('static', filename='css/spectre-icons.min.css') }}">
 <link rel="stylesheet" href="{{ url_for('static', filename='css/chart.min.css') }}">
 <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

 <!--==== SCRIPTS ==== --> 
 <script src="{{ url_for('static', filename='js/vue.min.js') }}"></script>
 <script src="{{ url_for('static', filename='js/chart.min.js') }}"></script>
 <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
 <script src="{{ url_for('static', filename='js/axios.min.js') }}"></script>
