<div class="topbar">
    <div class="topbar-container" id="topbar">
        <div class="title">
            <h1 class="topbar-text" @click="window.location='/dashboard'">SDL Utility Tool</h1>
        </div> 
        <div class="spacer" align="right">
            <span class="username" style="color: yellow;">
                @{{username}}
            </span> 
        </div>
        <div class="menu-icon">
            <div class="icon" @click="toggle_menu">
                <img width="50" src="{{url_for('static', filename='images/burger.jpg')}}">
            </div>
        </div>
    </div>
    <div class="menu">
        <ul>
            <li><a href="view_users">View Users</a></li>
            <li><a href="view_dataset">View Dataset</a></li>
            <li><a href="view_charts_stats">View Charts & Stats</a></li>
            <li><a href="label_random_tweet">Label Random Tweet</a></li>
            <li><a href="label_specific_tweet">Label Specific Tweet</a></li>
            <li><a href="my_labels">My Labels</a></li>
            <li><a href="label_history">Label History</a></li>
            {% if session["role"] == 1: %}
                <li><a href="create_user">Create User</a></li>
                <li><a href="download_csv">Download CSV</a></li>
            {% endif %}
            <li><a href="logout">Logout</a></li>
        </ul>
    </div>
</div>
<style scope>

   

    .menu {
        color: white;
        background-color: rgb(29, 122, 169);
    }

    .menu li {
        list-style: none;
        padding: 5px 10px;
    }

    .menu li a {
        color: white;
        text-decoration: none;
    }

    .menu li a:hover {
        color: goldenrod;
        text-decoration: none;
    }

    .menu li a:active {
        color: yellow;
        outline: none;
    }


    .menu ul {
        padding: 10px;
    }

    .topbar-container {
        display: flex;
        background-color: rgb(59, 152, 199);
        color: white;
        font-size: 90%;
        height: 40px;
    }

    .title .topbar-text {
        font-size: 25px;
        margin-top: 5px;
        margin-left: 5px;
        flex: 60%;
    }

    .spacer {
        flex: 20%;
        padding-top: 8px;
        color: white;
        text-align: right;
        padding-left: 50px;
    }

    .menu-icon {
        flex: 5%;
        text-align: right;
        margin-top: -5px;
    }

    .menu-icon:active {
        opacity: 0.5;
    }

    
    .username {
        display: block;
        margin-top: 0px;
        margin-right: 10px;
        text-align: right;
    }

    @media screen and (min-width: 720px) {
        .username {
            text-align: left;
        }
    }
</style>
<script>
    let topbar = new Vue({
        el: "#topbar", 
        data : {
            show_menu : false
        },  
        methods: {
            toggle_menu () {
                $(".menu").slideToggle()
                navigator.vibrate([100])
            }
        },
        mounted() {
            $(".menu").hide()
        }
    })
</script>