{% extends "layouts/topbar.html" %} 

{% block topbar %}
    {% include "sections/topbar.html" %}
{% endblock %}


{% block main_content %}
    <div class="dashboard-content">
        <H4>The AI-Powered Automated Sentiment Analysis Tool Project</H4>
        
        This project is an ongoing research (Senior Thesis) by Ian Raymund Manaog, 
        Kevin Kyle Hendrick Baldo and Levi John Sta. Ana. It aims to build an automated 
        tool for detecting sentiment in Filipino-English Tweets 
        using machine learning algorithms such 
        as Artificial Neural Network, Support Vector Machines and Naive Bayes Classifiers.
        <br /><br /> 

        <h3>Official Labeling Protocol & Guidelines for Volunteers</h3> 
        <p>
            Under construction.
        </p>
    </div> 
    <style>
        .dashboard-content {
            padding: 10px;
            margin-top: 20px;
        }
        .dashboard-content h3 {
            font-size: 22px;
        }
    </style>
{% endblock %}
