{% extends "layouts/topbar.html" %} 

{% block topbar %}
    {% include "sections/topbar.html" %}
{% endblock %}


{% block main_content %}
    <div class="dashboard-content">
        <H4>The AI-Powered Automated Sentiment Analysis Tool Project</H4>
        
        Project SenTagalog is a work-in-progress research project by ADNU 
        undergraduates Kevin Kyle Hendrick Baldo, Ian Raymund Manaog and
        Levi John Sta. Ana. The goal of the project is to build an automated
        and Artificial Intelligence powered general-scope sentiment analyzer 
        for Filipino-English tweets labelled neutral, negative, positive and sarcasm
        using modern techniques used in the field
        such as <b>Bidirectional Long Short-Term Memory Recurrent Neural Networks 
        (Bi-LSTM RNN)</b>, <b>Gated Recurrent Unit Neural Networks (GRU-RNN)</b> and 
        <b>Feedforward Mutilayer Perceptrons (FF MLP)</b> and by observing which model 
        performs the best with the given dataset.

        <br /><br /> 

        <h3>Official Labeling Protocol & Guidelines for Volunteers</h3> 
        <p>
            Under construction.
        </p>
    </div> 
    <style>
        .dashboard-content {
            padding: 10px;
            margin-top: 20px;
        }
        .dashboard-content h3 {
            font-size: 22px;
        }

        .dashboard-content input {
            z-index: 1;
        }
    </style>
{% endblock %}
