{% extends "layouts/topbar.html" %} 

{% block topbar %}
    {% include "sections/topbar.html" %}
{% endblock %}


{% block main_content %}
    <div class="dashboard-content" id="app">
        <h3 style="margin: 0; padding: 0">Label Specific Tweet</h3> 
        <small>Please remember that your goal is to identify how the <b>author</b>
        of this tweet feels and not how you feel. Assume that you are like 
        a psychologist who identifies emotion from people.</small>
        <hr /> 
        <div class="tweet">
                &nbsp;&nbsp;<big><a>@[[ tweet[1] ]]</a></big>
            <p class="tweet-content">
                [[ tweet[2] ]]
            </p>
            <br />
        </div>
        <div class="label-tools">
            <div class="sentiments">
                <button :class="{'active': is_positive}" @click="set_sent('positive')">Author feels POSITIVE</button>
                <button :class="{'active': is_neutral}" @click="set_sent('neutral')">Author feels NEUTRAL</button>
                <button :class="{'active': is_negative}" @click="set_sent('negative')">Author feels NEGATIVE</button>
                <button :class="{'active': is_discard}" @click="set_sent('discard')">DISCARD this tweet</button>
                <button :class="{'active': is_sarcasm}" @click="set_sent('sarcasm')">Tweet involves SARCASM</button>
             </div>
            <input :disabled="disable_reason_txtfield" type="text" placeholder="Reason" v-model="reason_for_sentiment">
            <select @change="set_reason" v-model="buff_reason" default="others">
                <option>
                </option>
                <option  v-for="reason in reasons">
                    [[reason]]
                </option>
            </select>
            <button class="button-primary" @click="submit_sent()">Submit</button>
            <div class="notifier" v-if="notifier == true">
                Successfully submitted your label. 
            </div>
            <br />
            <div class="another" v-if="notifier == true">
                <button @click="label_another">Label another tweet?</button>
            </div>
        </div>
    </div>
    <style>
        .dashboard-content {
            padding: 10px;
            margin-top: 20px;
        }
        .dashboard-content h3 {
            font-size: 22px;
        }

        .tweet-content {
            box-shadow: 0px 0px 2px grey;
            padding: 10px;
            margin: 5px;
        }

        .label-tools button, .label-tools input, .label-tools select {
                width: 100%;

        }

        .active {
            background-color: rgb(214,214,214);
        }

        .notifier {
            color: darkgreen; 
            border-color: darkgreen; 
            width: 100%;
            border-radius: 5px;
            border: 2px solid darkgreen; 
            text-align: center;
        }
    </style>
    <script> 
            new Vue({
                el: "#app", 
                data : {
                    tweet : {}, 
                    is_positive : false, 
                    is_negative : false, 
                    is_neutral  : true,
                    is_discard : false,
                    disable_reason_txtfield : false,
                    reason_for_sentiment : "",
                    sentiment : null,
                    reasons: [],
                    buff_reason: "",
                    notifier: false
                },
                methods : {
                    get_random_tweet() {
                        let self = this;
                        axios.get("/api/get_specific_tweet?tweet_id={{tweet_id}}").then((response) => {
                            self.tweet = response.data.tweet
                            self.reasons = response.data.reasons
                        }).catch((err) => {
                            alert("There was an error fetching a random tweet.")
                        })
                    },
                    reset_sent() {
                        let self = this
                        self.is_positive = false 
                        self.is_negative = false 
                        self.is_neutral = false  
                        self.is_discard = false
                        self.sentiment = null
                    },
                    set_sent(sent) {
                        let self = this
                        this.reset_sent()
                        self.sentiment = self.get_sent_code(sent)
                        self["is_" + sent] = true
                    },
                    get_sent_code(sent) {
                        if(sent == "positive") {
                            return 1
                        } else if (sent == "neutral") {
                            return 0
                        } else if (sent == "negative") {
                            return -1
                        } else {
                            return -2
                        }
                    },
                    submit_sent() {
                        let data = {
                            sentiment: this.sentiment,
                            reason_for_sentiment: this.reason_for_sentiment,
                            tweet_id : this.tweet[0]
                        }
                        let self = this
                        axios.post("/api/submit_label", data)
                                .then((response) => {
                                    if(response.data.state == "successful") {
                                        self.notifier = true
                                    } else {
                                        alert("There as an error submitting your label.")
                                    }
                                })
                                .catch((error) => {
                                    alert("There was an error submitting your label.")
                                }) 
                    },
                    set_reason() {
                        if(this.reason_for_sentiment != "others") {
                            this.disable_reason_txtfield = true
                        } else {
                            this.disable_reason_txtfield = false
                        }
                        this.reason_for_sentiment = this.buff_reason
                    }, 
                    label_another() {
                        this.reset_sent()
                        this.notifier = false
                        this.get_random_tweet()
                    }
                },
                mounted () {
                    let self = this
                    self.get_random_tweet()
                },
                delimiters : ["[[", "]]"]
            })
      
    </script>
{% endblock %}
