{% extends "layouts/topbar.html" %} 

{% block topbar %}
    {% include "sections/topbar.html" %}
{% endblock %}


{% block main_content %}
    <div class="dashboard-content" id="app">
        <h2>Charts and Stats</h2> 
        
        <h3>Overview</h3>
        <canvas id="meta_pie" width="300" height="300"></canvas>

        <h3>By Label</h3>
        <canvas id="all_pie" width="300" height="300"></canvas>
        
        <h3>Positive (By Term)</h3>
        <canvas id="positive_by_terms" width="300" height="300"></canvas>

        <h3>Negative (By Term)</h3>
        <canvas id="negative_by_terms" width="300" height="300"></canvas>

        <h3>Neutral (By Term)</h3>
        <canvas id="neutral_by_terms" width="300" height="300"></canvas>

        <h3>Positive (By Language)</h3>
        <canvas id="positive_by_language" width="300" height="300"></canvas>

        <h3>Negative (By Language)</h3>
        <canvas id="negative_by_language" width="300" height="300"></canvas>

        <h3>Neutral (By Language)</h3>
        <canvas id="neutral_by_language" width="300" height="300"></canvas>

        <h3>Labels by User</h3>
        <canvas id="labels_by_user" width="300" height="300"></canvas>
    </div>
    <style>
        .dashboard-content {
            padding: 10px;
            margin-top: 20px;
        }
        .dashboard-content h3 {
            font-size: 22px;
        }
    </style>
    <script> 
        new Vue({
            el: "#app", 
            data : {
                label_status : {}
            },
            methods : {
                // display pie chart for metadata
                display_meta_pie() {
                    let ctx = document.getElementById("meta_pie").getContext("2d")
                    let self = this

                    
                    let chart = new Chart(ctx, {
                        type : 'pie', 
                        data :  {
                            datasets : [{
                                data: [self.label_status.meta.unlabelled, 
                                       self.label_status.meta.labelled - self.label_status.meta.discards, 
                                       self.label_status.meta.discards,
                                       self.label_status.meta.sarcasms],
                                backgroundColor: [
                                    'black',
                                    'grey',
                                    'orange',
                                    'red'
                                ],
                                borderWidth: 1
                        }], 
                            labels : [
                                "Unlabelled (" + self.label_status.meta.unlabelled+ ")",
                                "Labelled (" + self.label_status.meta.labelled + ")", 
                                "Discards (" + self.label_status.meta.discards + ")",
                                "Sarcasms (" + self.label_status.meta.sarcasms + ")"],

                        }
                    })
                },
                // display pie chart for all
                display_all_pie() {
                    let ctx = document.getElementById("all_pie").getContext("2d")
                    let self = this

                    let chart = new Chart(ctx, {
                        type : 'pie', 
                        data :  {
                            datasets : [{
                                data: [self.label_status.all.positive, 
                                       self.label_status.all.negative,
                                       self.label_status.all.neutral],
                                backgroundColor : [
                                    "#FC7753", 
                                    "#403D58",
                                    "#66D7D1"
                                ]
                            }], 
                            labels : ["Positive", "Negative", "Neutral"]
                        }
                    })
                }, 
                // display positive by terms 
                display_positive_by_terms() {
                    let ctx = document.getElementById("positive_by_terms").getContext("2d")
                    let self = this

                    let vals = [] 
                    let keys = [] 

                    let positives = this.label_status.by_term.positive

                    for(let term in positives) {
                        keys.push(term)
                        vals.push(positives[term])
                    }


                    let chart = new Chart(ctx, {
                        type : 'bar', 
                        data :  {
                            datasets : [{
                                data: vals,
                            }], 
                            labels : keys
                        }
                    })
                },

                // display negative by terms 
                display_negative_by_terms() {
                    let ctx = document.getElementById("negative_by_terms").getContext("2d")
                    let self = this

                    let vals = [] 
                    let keys = [] 

                    let negatives = this.label_status.by_term.negative
                    for(let term in negatives) {
                        keys.push(term)
                        vals.push(negatives[term])
                    }

                    let chart = new Chart(ctx, {
                        type : 'bar', 
                        data :  {
                            datasets : [{
                                data: vals,
                            }], 
                            labels : keys
                        }
                    })
                },

                // display neutral by terms 
                display_neutral_by_terms() {
                    let ctx = document.getElementById("neutral_by_terms").getContext("2d")
                    let self = this

                    let vals = [] 
                    let keys = [] 

                    let neutrals = this.label_status.by_term.neutral
                    for(let term in neutrals) {
                        keys.push(term)
                        vals.push(neutrals[term])
                    }

                    let chart = new Chart(ctx, {
                        type : 'bar', 
                        data :  {
                            datasets : [{
                                data: vals,
                            }], 
                            labels : keys
                        }
                    })
                },
                  // display positive by language
                  display_positive_by_language() {
                    let ctx = document.getElementById("positive_by_language").getContext("2d")
                    let self = this

                    let vals = [] 
                    let keys = [] 

                    let positives = this.label_status.by_language.positive

                    for(let term in positives) {
                        keys.push(term)
                        vals.push(positives[term])
                    }


                    let chart = new Chart(ctx, {
                        type : 'bar', 
                        data :  {
                            datasets : [{
                                data: vals,
                            }], 
                            labels : keys
                        }
                    })
                },

                // display negative by terms 
                display_negative_by_language() {
                    let ctx = document.getElementById("negative_by_language").getContext("2d")
                    let self = this

                    let vals = [] 
                    let keys = [] 

                    let negatives = this.label_status.by_language.negative
                    for(let term in negatives) {
                        keys.push(term)
                        vals.push(negatives[term])
                    }

                    let chart = new Chart(ctx, {
                        type : 'bar', 
                        data :  {
                            datasets : [{
                                data: vals,
                            }], 
                            labels : keys
                        }
                    })
                },

                // display neutral by terms 
                display_neutral_by_language() {
                    let ctx = document.getElementById("neutral_by_language").getContext("2d")
                    let self = this

                    let vals = [] 
                    let keys = [] 

                    let neutrals = this.label_status.by_language.neutral
                    for(let term in neutrals) {
                        keys.push(term)
                        vals.push(neutrals[term])
                    }

                    let chart = new Chart(ctx, {
                        type : 'bar', 
                        data :  {
                            datasets : [{
                                data: vals,
                            }], 
                            labels : keys
                        }
                    })
                },

                 // display labels by user
                 display_labels_by_user() {
                    let ctx = document.getElementById("labels_by_user").getContext("2d")
                    let self = this

                    let vals = [] 
                    let keys = [] 

                    let labels = this.label_status.label_counts
                    for(let user in labels) {
                        keys.push(user)
                        vals.push(labels[user])
                    }

                    let chart = new Chart(ctx, {
                        type : 'bar', 
                        data :  {
                            datasets : [{
                                data: vals,
                            }], 
                            labels : keys
                        }
                    })
                }
            },
            mounted () {
                let self = this
                let data = axios.get("/api/label_status").then((response)=>{
                    self.label_status = response.data
                    self.display_meta_pie()
                    self.display_all_pie()
                    self.display_positive_by_terms()
                    self.display_negative_by_terms()
                    self.display_neutral_by_terms()
                    self.display_positive_by_language()
                    self.display_neutral_by_language() 
                    self.display_negative_by_language()
                    self.display_labels_by_user()
                })

            },
            delimiters : ["[[", "]]"]
        })

      
    </script>
{% endblock %}
